@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2A0944;
  color: #F2F2F2;
  overflow-x: hidden;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2A0944;
}

::-webkit-scrollbar-thumb {
  background: #9336B4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF26B9;
} 